body {
    text-align: center;
}

.form {
    padding: 20px;
    width: 600px;
    margin-left: 400px;
    margin-top: 100px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 30%;
    border: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#supreme-court,
#high-court,
#district-court {
    width: 5%;
    display: inline;
    display: inline-flex;
    margin-left: 0px;
}

.login-form label {
    margin-left: 0px;
    margin-right: 40px;
}

#user {
    width: 95%;
    height: 45px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: #b3b3b3;
}

textarea {
    width: 95%;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: black;
}


.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg, #328f8a, #08ac4b);
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}